body {
  // background: url('/src/images/bg.jpg') no-repeat;
  background: url('http://t1.gstatic.com/images?q=tbn:ANd9GcS4ZG1yrOJhTgkNP7_a_h_ILrOWuMNEQ25AntOk7vi5ss0q83FmEFcjsnnflnuxzEEMFjwxS9QS34zUn6xdoF8')
    no-repeat content-box;
}

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;

  & > * {
  }

  &__header {
    font-size: 7rem;
    height: fit-content;
    position: absolute;
    white-space: nowrap;
    top: 20vh;
  }

  &__form {
    position: absolute;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > * {
      position: absolute;
    }

    &__input {
      @include formItem(4rem);
      padding: 15px 20px;
      width: 450px;
      box-shadow: 0px 0px 59px 0px rgba(0, 0, 0, 0.75);
      border: solid 2px rgba(255, 216, 43, 1);
      border-radius: 0;
      outline: none;
      top: 40vh;

      transition: border 400ms ease-in-out;

      &:focus {
        border: solid 2px rgba(226, 255, 42, 1);
        outline: inherit;
      }
    }

    &__suggestion-list {
      width: 450px;
      top: calc(40vh + 83px);
      border: solid 2px #ffd82b;
      display: none;

      & > * {
        width: 100%;
        text-align: left;
        padding: 10px;
        font-size: 1.3rem;
        border: none;
        transition: all ease-in-out 100ms;
        z-index: 2;

        &:focus,
        &:hover {
          background-color: $darkFont;
          color: $fairColor;
          cursor: pointer;
        }
      }
    }

    &__button {
      @include formItem(2rem);

      position: relative;
      width: fit-content;
      padding: 15px 60px !important;
      background: rgb(255, 216, 43);
      background: linear-gradient(
        0deg,
        rgba(255, 216, 43, 1) 50%,
        rgba(226, 255, 42, 1) 50%
      );

      cursor: pointer;
      font-weight: bold;
      color: $darkFont;
      border: 0;
      outline: 0;
      bottom: 30vh;

      white-space: nowrap;

      transition: transform 100ms ease-in;

      &:hover {
        transform: translateY(-1rem) scale(1.05);
      }
    }
  }

  &__name__header {
    font-weight: 900;
    font-size: 6rem;
    text-align: center;
    margin-top: 30px;
    position: absolute;
  }

  &__details {
    width: 600px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.5);
    top: 20%;
    position: absolute;
    flex-direction: column;
    opacity: 0;
    display: none;
    box-shadow: 0px 0px 59px 0px rgba(0, 0, 0, 0.75);
    transform-origin: left;
    font-weight: 900;

    &__primary {
      display: flex;
      justify-content: space-between;
      padding: 20px;

      &__icon {
        transform: scale(1.5);
        align-self: center;
      }

      &__temperature {
        font-size: 3rem;
        width: 100%;
        margin-top: 10px;
        margin-left: 20px;
      }

      &__time {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        padding: 20px 10px 0 0;
      }
    }

    &__secondary {
      padding: 20px;
    }

    &__info {
      display: flex;
      justify-content: flex-end;
      margin-top: 30px;
      padding: 0 30px;

      & > span {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 10px;

        // &:last-child {
        //   margin-right: 30px;
        // }

        & > span {
          transform: translateY(10px);
          font-size: 1.4rem;
          color: $darkFont;
        }

        & > svg {
          width: 30px;
          height: 30px;
        }

        & > div {
          text-align: center;
          padding-top: 10px;
        }
      }
    }
  }
}
